<template>
  <v-card>
    <v-card-title>Compare exchange rate</v-card-title>
    <v-card-text>
      <v-row no-gutters class="justify-center">
        <v-col cols="11" md="2" xs="6">
          <v-text-field
            v-model="fromCurrencyAmount"
            outlined
            dense
            class="rounded-l-xl"
            @change="calCurrencyAmount()"
          ></v-text-field>
        </v-col>
        <v-col cols="11" md="3" xs="6">
          <v-autocomplete
            v-model="fromCurrencySymbol"
            :items="symbolsList"
            outlined
            class="rounded-r-xl"
            dense
            label="From"
            :disabled="loading"
            @change="fetchCurrency(fromCurrencySymbol)"
          ></v-autocomplete>
        </v-col>
        <v-col cols="11" md="1" xs="12">
          <div class="text-center">
            <v-btn
              icon
              @click="swapCurrency()"
            >
              <v-icon>mdi-sync</v-icon>
            </v-btn>
          </div>
        </v-col>
        <v-col cols="11" md="2" xs="6">
          <v-text-field
            v-model="toCurrencyAmount"
            class="rounded-l-xl"
            outlined
            dense
            @change="calCurrencyAmount()"
          ></v-text-field>
        </v-col>
        <v-col cols="11" md="3" xs="6">
          <v-autocomplete
            v-model="toCurrencySymbol"
            :items="symbolsList"
            class="rounded-r-xl"
            outlined
            dense
            label="To"
            :disabled="loading"
            @change="fetchCurrency(fromCurrencySymbol)"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <p v-if="exchangeDate" class="text-right">Updated at: {{ exchangeDate }}</p>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from "moment/moment";
import _ from "lodash";

export default {
  name: "compareExchangeRateComponent",
  props: {
    symbolsList: Array,
  },
  data() {
    return {
      exchangeDate: null,
      fromCurrencySymbol: null,
      fromCurrencyAmount: 1,
      toCurrencySymbol: null,
      toCurrencyAmount: 0,
      loading: false,
    }
  },
  methods: {
    async fetchCurrency(symbols) {
      this.loading = true;
      this.$axios.setHeader('apikey', this.$config.FOREIGN_EXCHANGE_API_KEY)

      try {
        const tempLatestItems = [];
        const tempRawLatestExchange = await this.$axios.$get(this.$config.FOREIGN_EXCHANGE_API_URL + "latest?base=" + symbols);
        this.exchangeDate = moment.unix(tempRawLatestExchange.timestamp).format('DD-MM-YYYY, HH:mm:ss');
        _.forEach(tempRawLatestExchange.rates, function (value, key) {
          tempLatestItems.push({
            symbol: key,
            rate: value,
          });
        });
        this.items = tempLatestItems;
        this.calCurrencyAmount();
      } catch (e) {
        alert(e.message);
      }

      this.loading = false;
    },

    calCurrencyAmount() {
      if (this.fromCurrencySymbol && this.toCurrencySymbol) {
        this.toCurrencyAmount = Math.round((this.fromCurrencyAmount * this.items.find(item => item.symbol === this.toCurrencySymbol).rate + Number.EPSILON) * 100) / 100;
      }
    },

    swapCurrency() {
      const temp = this.fromCurrencySymbol;
      this.fromCurrencySymbol = this.toCurrencySymbol;
      this.toCurrencySymbol = temp;
      this.fromCurrencyAmount = this.toCurrencyAmount;
      this.fetchCurrency(this.fromCurrencySymbol);
      this.calCurrencyAmount();
    }
  },
}
</script>

<style scoped>

</style>
